<!DOCTYPE html>
<html lang="en">
<head>
  <title>Sahil Donde - Portfolio</title>  
  <link rel="icon" href="./images/port_icon.png" type="image/icon type">
  <%- include('./partials/headers.ejs') %>
</head>
<body>

  <%- include('./partials/navbar_home.ejs') %>

  <%- include('./partials/about_me.ejs') %>

  <%- include('./partials/education.ejs') %>

  <%- include('./partials/skills.ejs') %>

  <%- include('./partials/my_projects.ejs') %>

  <%- include('./partials/certifications.ejs') %>

  <%- include('./partials/work_experience.ejs') %>

  <%- include('./partials/graphic_design.ejs') %>

  <%- include('./partials/contact.ejs') %>

  <%- include('./partials/footer.ejs') %>

</body>
</html>